<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="毛静文,Momo">
  <meta name="keywords" content="接口协商缓存 Demo,interface cache demo,毛静文的博客,Momo's Blog">
  <meta name="description" content="接口协商缓存 Demo">
  <title>接口协商缓存 Demo</title>
</head>
<style>
  html,
  body,
  #app {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .m-p-help {
    position: fixed;
    right: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    color: #666666;
    z-index: 2;
    line-height: 30px;
    font-weight: bolder;
    border-radius: 50%;
    border: 1px solid rgba(27, 31, 35, .2);
    cursor: pointer;
    text-align: center;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  }

  .m-p-action {
    padding: 20px 0;
    width: 100%;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }

  .bottom-tool {
    position: fixed;
    right: 20px;
    bottom: 26px;
    z-index: 999;
    width: 130px;
    text-align: right;
    display: inline-block;
  }

  .bottom-tool-item {
    display: inline-block;
    margin: 4px 0;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    color: #24292e;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
  }

  .bottom-tool-item:hover {
    opacity: 0.9;
  }
</style>

<body>
  <div id="loading">
    页面加载中，请耐心等待...
    <h1 style="white-space: pre;">
      接口 ETag 协商缓存示例，当接口返回值未发生变化时，服务端直接返回 304，
      复用之前的接口调用结果，充分运用 HTTP 协商缓存特性，节省服务端流量。
    </h1>
  </div>

  <section id="app" v-cloak style="height: 100%;">
    <!--title-->
    <section class="m-p-action">接口协商缓存 Demo</section>

    <!-- 相关文档 -->
    <a class="m-p-help" target="_blank" href="https://segmentfault.com/a/1190000021847172">?</a>

    <!--右下角外链工具栏-->
    <div class="bottom-tool">
      <a class="bottom-tool-item" target="_blank" href="https://github.com/Momo707577045/ajax-etag-demo">github</a>
      <a class="bottom-tool-item" target="_blank"
        href="https://github.com/Momo707577045/ajax-etag-demo/blob/main/node-index.js">服务端 demo</a>
      <a class="bottom-tool-item" target="_blank" href="http://blog.luckly-mjw.cn/tool-show/index.html">其他实用工具</a>
    </div>

    <!-- 主体功能 -->
    <section style="display:flex;height: 80%;">
      <div style="flex:1;margin: 0 20px;">
        <div style="margin-bottom: 10px;">
          <strong style="display: inline-block; margin-right: 20px;">request 请求参数</strong>
          <div style="float:right;display: flex;justify-content: center;">
            <div style="margin-right: 10px;display: inline-block;">
              测试数据条数：<input v-model="reqDataCount" style="height: 18px;width:80px;border-radius: 4px;">
            </div>
            <input style="margin-right: 10px;" type="button" value="sendGet" @click="onSend('GET')">
            <input type="button" value="sendPost" @click="onSend('POST')">
          </div>
        </div>
        <textarea v-model="reqTextarea"
          style="width: 100%;height:100%;padding: 10px; border-radius: 4px;box-sizing: border-box;"
          placeholder="示例仅支持对象结构"></textarea>
      </div>

      <div style="flex:1;margin: 0 20px;">
        <div style="margin-bottom: 10px;">
          <strong>response 响应结果</strong>
        </div>
        <textarea :value="respTextarea"
          style="width: 100%;height:100%;padding: 10px;white-space: pre-line; border-radius: 4px;box-sizing: border-box;"
          placeholder="原封不动返回请求参数，效果请查看控制台"></textarea>
      </div>
    </section>

    <section style="position: fixed; bottom: 10px;left: 20px;">
      <div>【注意】：请确认控制台的 Disable cache 是否已经取消勾选</div>
      <div>【注意】：在 chrome 浏览器中，get 请求的 304 状态码会被转化为 200 状态码，缓存的效果需通过请求缓存前后的 size 来呈现</div>
    </section>
  </section>
</body>

<!--vue 前端框架-->
<script src="//upyun.luckly-mjw.cn/lib/md5.js"></script>
<script src="//upyun.luckly-mjw.cn/lib/vue.js"></script>
<script>
  document.getElementById('loading') && document.getElementById('loading').remove()

  // 因域名未配置证书，暂不支持 https 域名下访问
  if (location.href.includes('https')) {
    location.href = location.href.replace('https', 'http')
  }

  // GET 请求专用序列化参数
  function serializeParams(params, prefix = '') {
    const query = [];
    for (const [key, value] of Object.entries(params)) {
      if (typeof value === 'object') {
        const nestedPrefix = prefix ? `${prefix}[${key}]` : key;
        query.push(serializeParams(value, nestedPrefix));
      } else {
        const paramKey = prefix ? `${prefix}[${key}]` : key;
        query.push(`${paramKey}=${encodeURIComponent(value)}`);
      }
    }
    return query.join('&');
  }

  // 由于 post 请求本身不支持 Etag 缓存，需要前端自行实现缓存机制
  const eTagPostMap = {}
  function ajax(url, type, reqData) {
    return new Promise((resolve, reject) => {
      let postReqHash = ''; // 以请求路径及其参数的 hash 作为 key 进行缓存
      if (type === 'POST') {
        postReqHash = md5.create().update(url + JSON.stringify(reqData)).digest('hex'); // 以请求路径及其参数的 hash 作为 key 进行缓存
      }
      const xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          let { status, responseText, responseXML } = xhr;

          // 注意，GET 请求的 304 响应头在 chrome 接受时，给到 JS 会变成 200 状态码，且有正常的 responseText
          if (status >= 200 && status < 300) {
            // POST 请求的响应头有 ETag，则缓存该结果
            if (type === 'POST' && xhr.getResponseHeader('ETag')) {
              eTagPostMap[postReqHash] = {
                content: responseText,
                etag: xhr.getResponseHeader('ETag'),
              }
            }
            return resolve(responseText);
          }

          if (status === 304) { // 注意，GET 请求的 304 响应头在 chrome 接受时，给到 JS 会变成 200 状态码
            if (type === 'POST') {
              return resolve(eTagPostMap[postReqHash].content);
            } else if (type === 'GET') { // 在 chrome 浏览器 GET 请求不会有 304 状态码，在这里只是兜底，以防其他浏览器表现不一致
              return resolve(responseText);
            }
          }
          if (!status) {
            alert('get 请求不支持这么大的请求参数，请减少数量 或 使用 post 请求')
          }

          reject(status);
        }
      };

      if (type === 'GET') {
        xhr.open('GET', url + '?' + serializeParams(reqData), true);
        xhr.send(null);
      } else if (type === 'POST') {
        xhr.open('POST', url, true);
        // 如果之前发送过这个请求，且有 ETag hash 记录，则当再次发起时，携带上该 hash
        if (eTagPostMap[postReqHash]) {
          xhr.setRequestHeader("if-none-match", eTagPostMap[postReqHash].etag);
        }
        xhr.send(JSON.stringify(reqData));
      }
    })
  }
  new Vue({
    el: '#app',

    data() {
      return {
        reqDataCount: 1,
        reqTextarea: '',
        respTextarea: '',
      }
    },

    watch: {
      reqDataCount(newValue) {
        this.reqDataCount = Math.abs(parseInt(newValue)) || 10
        if (newValue > 10000) {
          this.reqDataCount = 10000
        }
        this.setTestData();
      }
    },


    created() {
      this.setTestData();
    },

    methods: {
      onSend(type) {
        this.respTextarea = 'sending';
        // 为模拟接口调用时长，一秒后再发生请求
        setTimeout(() => {
          console.log('onSend', type, this.reqTextarea);
          try {
            eval(`window.reqData = ${this.reqTextarea}`)
            ajax('http://ajax-etag.luckly-mjw.cn/send', type, window.reqData).then((res) => {
              console.log('resp', JSON.stringify(JSON.parse(res), null, 4))
              console.log('eTagPostMap', eTagPostMap)
              this.respTextarea = JSON.stringify(JSON.parse(res), null, 4);
            })
          } catch (error) {
            alert('request 请求参数不是一个标准对象，请检查')
          }
        }, 1000)
      },

      // 设置测试数据，以示例明显的效果
      setTestData() {
        let listStr = ''
        for (let index = 0; index < this.reqDataCount; index++) {
          listStr += `{
        id: ${index + 1},
        userName: "杜磊",
        intro: "协商缓存主要是通过服务器与客户端之间的通信，来判断客户端的资源是否需要更新，从而减少网络传输和服务器压力。协商缓存的核心思想就是：客户端请求服务器时，服务器判断客户端本地缓存的资源是否过期，如果没有过期，则返回状态码 304 Not Modified 和空的响应体，告诉客户端可以使用本地缓存。如果过期了，则返回新的资源，并让客户端更新本地缓存。",
        jobNum:${index + 467265},
        identityCardUrl: "http://dummyimage.com/200x100",
        identityCard: ${index},
        sex: "female",
        address: "天津九龙新县",
      },`
        }

        this.reqTextarea = `{
  code: 200,
  message: "操作成功",
  data: {
    page: {
      pageIndex: 1,
      pageSize: ${this.reqDataCount},
      itemSum: 83,
      pageSum: 9
    },
    list: [${listStr}]
  }
}`
      }
    }
  })
</script>

</html>